<script>

    function mostrarClaveRegistro() {

        const campo =
            document.getElementById(
                "password_registro"
            );

        const boton =
            document.getElementById(
                "ojo_password_registro"
            );

        if (campo.type === "password") {

            campo.type = "text";
            boton.innerText = "🙈";
            boton.title = "Ocultar contraseña";

        } else {

            campo.type = "password";
            boton.innerText = "👁️";
            boton.title = "Mostrar contraseña";

        }

    }

</script>
